*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: rgb(219,226,226);
}
.row{
    background: white;
    border-radius: 30px;
}

.col-lg-5 img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1{
    border:none;
    outline:none;
    height: 50px;
    width:100%;
    background-color: black;
    color:white;
    border:4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    border:1px solid;
    color:black;
}
.nav-brand img{
    border-radius: 25px;
}